h4 {
  text-align: center;
  font-size: 40px;
}
article {
  position: fixed;
  z-index: 1;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
  pointer-events: none;
  overflow: hidden;
}
